
body{
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: hsl(30, 38%, 92%);
    font-family: 'Montserrat' 'Fraunces';
}

.container{
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}

.box{
    width: 320px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

.box .mobile{
    width: 100%;
    height: auto;
    border-radius:8px 8px 0 0;  
}

header{
    margin: 20px 30px;
    font-family: 'Montserrat';
    font-size: 9px;
    font-weight: 500;
    letter-spacing:4px;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
}

h1{
    margin-left:30px ;
    font-size: 33px;
    line-height:.9;
}

p{
    color: hsl(228, 12%, 48%);
    margin:0 30px ;
    font-size: 13px ;
    font-weight:500 ;
    font-family: 'Montserrat';
}

.price{
    margin:20px 30px; 
    display: flex;
    align-items: center;
    gap: 20px;
}

.price strong{
    color:  hsl(158, 36%, 37%);
    font-size: 30px;
    font-family: 'Fraunces';
}

.price del{
    font-size:12px ;
    color:  hsl(228, 12%, 48%);;
}

.add-to-cart{
    margin: 20px auto;
    width: 80%;
    height: 35px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
   
    background-color: hsl(158, 36%, 37%); 
    border: none;
    border-radius: 6px;
    color: white;
   
    transition: background-color 1s ease;
}

.add-to-cart:hover{
    background-color:  hsl(158, 42%, 18%);
    cursor:pointer;
}

.add-to-cart img{
    width: 16px;
    height: 16px;
}



@media (min-width: 768px ){
    .mobile{
        display: none;
    }

    .desktop{
        display: block;
        width: 320px;
        min-height: auto;
        border-radius:8px 0  0 8px;
    }

   .box{
        height: 480px;
        border-radius: 0 8px 8px 0;
   }

   header{
        margin: 30px 30px;
   }

   h1{
        margin:0 30px 30px 30px;
        font-size: 42px;
   }

   p{
    font-size: 16px;
    margin: 35px 30px;
   }

   .price{
    margin-bottom: 40px ;
   }
}    
